.main {
    width: 100%;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.first-subsection {
  font-size: 3rem;
  padding: 2rem;
  margin: 1rem;
  background-color: aqua;
  border-radius: 1rem;
  text-align: center;
}
.second-subsection {
  font-size: 3rem;
  padding: 2rem;
  margin: 1rem;
  background-color: orange;
  border-radius: 1rem;
  text-align: center;
}
.third-subsection {
  font-size: 3rem;
  padding: 2rem;
  margin: 1rem;
  background-color: pink;
  border-radius: 1rem;
  text-align: center;
}

// MEDIA QUERIES HERE //
// max-width or min-width refers to the window size of the browser screen
// for max-width, anytime the screen size is less than the value given, then it will modify the content in the media query
// for min-width, anytime the screen size is more than the value given, then it will modify the content in the media query
// for min-width and max-width, anytime the screen size id within those boundaries, it will modify the content in the media query

// in these examples .main is used to refer to .main from earlier in the scss, and flex-diection: column is modifying the flex-direction value from prior

@media screen and (max-width: 900px) {
    .main {
        flex-direction: column;
    }
    .second-subsection {
        color: white;
    }

    .third-subsection {
        color: white;
    }
}
@media screen and (min-width: 600px) and (max-width: 800px){
    .main {
        background-color: black;
    }
}