@import "_variables";

.main {
    width: 100%;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.first-subsection {
  font-size: 3rem;
  padding: 2rem;
  margin: 1rem;
  background-color: aqua;
  border-radius: 1rem;
  text-align: center;
}
.second-subsection {
  font-size: 3rem;
  padding: 2rem;
  margin: 1rem;
  background-color: orange;
  border-radius: 1rem;
  text-align: center;
}
.third-subsection {
  font-size: 3rem;
  padding: 2rem;
  margin: 1rem;
  background-color: pink;
  border-radius: 1rem;
  text-align: center;
}

// MEDIA QUERIES HERE //
// 

@media screen and (max-width: 900px) {
    .main {
        flex-direction: column;
    }
}
@media screen and (min-width: $desktop-min) and (max-width: $desktop-max){
    .main {
        background-color: red;
    }
}
@media screen and (min-width: $laptop-min) and (max-width: $laptop-max){
    .main {
        background-color: gold;
    }
}
@media screen and (min-width: $tablet-min) and (max-width: $tablet-max){
    .main {
        background-color: green;
    }
}
@media screen and (max-width: $mobile-max){
    .main {
        background-color: blue;
    }
}